@import "tailwindcss";

/* Backgrounds */
:root {
  --bg-primary: #fbf6f1;
  --bg-secondary: #e5e0da;
  --bg-muted: #c2bfcb;
  --bg-accent: #7e7b46;
  --bg-dark: #223614;

  --text-primary: #223614;
  --text-light: #fbf6f1;
  --text-white: #ffffff;
  --text-black: #000000;

  --border-light: #fbf6f1;
  --border-dark: #223614;
}
/* Borders */
/* Text */


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif; 
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

@layer utilities {
  .rotate-y-0 {
    transform: rotateY(0deg);
  }

  .rotate-y-90 {
    transform: rotateY(90deg);
  }
}